@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
:root{
    --top-btn-color: #010935;
    --color-gradient: linear-gradient(to bottom, darkorange, rgb(236, 27, 139));
    --bg-color: linear-gradient(45deg, #e1e8f3, #eeeff0);
}
/* .top-container{
    display: flex;
    justify-content: center;
    align-items: center;
} */
body{
    background: var(--bg-color);
    
}
.wrapper{
    overflow-x: hidden;
    width: 100vw;
}
.Mycontainer{
    width: 100%;
    max-width: 75%;
    margin: 0 auto;

}
/* header{
    width: 100%;
    height: 100vh;
    /* background: ; */

.nav-bar{
    display: flex;
    justify-content: space-between;  
    padding: 20px 30px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.Skill-p{
    /* margin-right: 300px; */
    padding: 5px;
    font-size: 1.7rem;

}
.top-btn{
    border-radius: 30px;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--top-btn-color);
}
.top-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.top-container .section1,
.top-container .section2{
    /* background-color: #fff; */
    width: 45%;
}
.top-container .section1{
    padding: 50px;
    margin: 10px;
}
.top-container .section1 .caption{
    font-size: 3.5rem;
    margin-bottom: 15px;
    width: 500px;
}
.top-container .section1 p{
    margin-bottom: 35px;
    width: 320px;
}
.top-container .section1 button{
    border-radius: 30px;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 30px;
    cursor: pointer;
    font-weight: bold;
    background: var(--color-gradient);
    margin: 5px 0px;
}
.top-container .section2{
    display: grid;
    place-items: center;
    margin-top: 100px;
}
.top-container .section2 .ram .img-con{
    width: 250px;
    height: 440px;
    position: relative;
    border-radius: 7rem;
    /* overflow: hidden; */
    background: url("images/samasc.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-color: red; */
    /* border-radius: 50%; */
    /* border-top-right-radius: 40%; */
    
    /* border-bottom-left-radius: 40%; */
}
.top-container .section2 .ram{
    position: relative;
}
.top-container .section2 .ram .right-stuff{
    width: 260px;
    height: 900px;
    transform: rotate(45deg) translate(90%, -15%);
    right: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(40deg, #30b2f8, #9122f1);
    border-radius: 7rem;
}

.top-container .section2 .img-con .flag{
    background-color: #fff;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.4);
    position: absolute;
}
.top-container .section2 .img-con .members{
    right: -15%;
    top: 20%;
    font-size: 1rem;
}
.top-container .section2 .img-con .course{
    bottom: 20%;
    left: -15%;
}
.mid-container{
    margin:150px auto;
    height: 100vh;
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-gap: 20px;
   /* display: grid;
   
   justify-items: center; */
   /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
   /* grid-template-columns: 1fr 1fr 1fr; */
  /* background-color: #2196F3; */
}
.mid-container .check{
    cursor:pointer;
    /* display: inline-block;  */
    /* align-items: center; */
    /* width: 400px; */
    height: 400px;
    /* text-align: center; */
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    /* border: 5px solid #bbb; */
    background-color: white;
}
.mid-container .courses{
    color: white;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 25px 5px;
    /* padding-bottom: 25px; */
    background: var(--color-gradient);
}
.ico{
    background: var(--color-gradient);
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 100%;
    margin-bottom: 15px;
}
.mid-container .check h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.mid-container .check p{
    font-size: 15px;
    margin-bottom: 15px;
}
.mid-container a{
    text-decoration: none;
    border: none;
    background: var(--color-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
@media screen and (max-width: 1189px) {
    .Mycontainer{
        max-width: 90%;
    }
}
@media screen and (max-width: 980px) {
    .Mycontainer{
        max-width: 100%;
    }
    .right-stuff{
        display: none;
    }
    .top-container .section1 .caption{
        font-size: 2.2rem;
    }
    .top-container .section1{
    /* background-color: #fff; */
    width: 50%;
    padding: 20px 0px 0px 40px;
}
    .top-container .section2{
        width: 50%;
    }
    .top-container .section2 .ram .img-con{
        /* border-radius: 50%; */
        width: 215px;
        height: 405px;
    }
    .top-container .section2 .img-con .flag{
        padding: 5px 10px;
        font-size: 0.95rem;
    }
}
@media screen and (max-width: 834px) {
    
    .top-container .section1 .caption{
        font-size: 2.6rem;
        width: 96%;
    }
    .top-container .section1 p{
        width: 100%;
    }
    
}
@media screen and (max-width: 600px) {
    .top-container{
        flex-direction: column;
        align-items: center;
    }
    .top-container .section1 .caption{
        font-size: 2.6rem;
        width: 96%;
    }
    .top-container .section1 p{
        width: 100%;
    }
    .top-container .section2 .ram{
        width: 100%;
    }
    .top-container .section2 .ram .img-con{
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }
    .top-container .section2 .img-con .course {
        bottom: 10%;
        left: -10%;
    }
    .top-container .section2 .img-con .members {
        right: -10%;
        top: 25%;
        font-size: 1rem;
    }
    .top-container .section1{
        width: 100%;
    }
    .top-container .section2 {
        width: 100%;
        margin: 0;
    }
    .top-container .section2 .img-con .flag{
        padding: 10px 20px;
    }
    .top-container .section2 .img-con .members p{
        font-size: 0.9rem;
    }
    .top-container .section2 .img-con .members h1{
        font-size: 1rem;
    }
    .top-container .section2 .img-con .course p{
        font-size: 0.9rem;
    }
    .top-container .section2 .img-con .course h1{
        font-size: 1rem;
    }
    .mid-container{
        width: 100%;
    }
}